@font-face {
    font-family: 'Mont';
    src: url('Mont.otf');
  }

html, body{
    background-image: url(content/background.jpg);
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

.content-area{
    padding: 15%;
}

.title{
    font-family: Mont;
    color: white;
    font-size: 3vw;
}

.credit{
    font-family: Mont;
    font-size: 13pt;
    color: white;
    font-style: italic;
    margin-top: -1.8%;
}


.area{
    width: 500px;
    height: 100px;
    box-shadow: white 0px 0px 80px;
    background-color: white;
    border-radius: 40px;
    margin-left: 50%;
    margin-top: -16%;
    margin-right: auto;
    transition: all 0.6s ease;
}

.area:hover{
    transform: translateY(15px);
}

.iptitle{
    text-align: center;
    color: black;
    font-family: Mont;
    padding: 1% 0;
}

.ip{
    text-align: center;
    color: black;
    font-family: Mont;
    margin-top: -2%;
    font-size: 0.9vw
}

@media screen and (max-width: 826px) {
    html,body{
        background-image: url(content/background.jpg) center center fixed no-repeat;
    }
    
    .area{
        margin-left: 30%
    }
}


@media screen and (max-width: 768px) {
    html, body{
        background-image: url(content/background.jpg) center center fixed no-repeat;
        background-size: 250%;
        background-position: 50%;
        overflow-y: hidden;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .content-area{
        margin-left: auto;
        margin-right: auto;
    }

    .title{
        font-family: Mont;
        color: white;
        font-size: 35pt;
        text-align: center;
    }

    .credit{
        text-align: center;
        font-family: Mont;
        font-size: 13pt;
        color: white;
        font-style: italic;
        margin-top: -1.8%;
    }

    .area{
        width: 300px;
        height: 100px;
        box-shadow: white 0px 0px 80px;
        background-color: white;
        border-radius: 40px;
        margin-left: auto;
        margin-top: 10%;
        margin-right: auto;
        transition: all 0.6s ease;
    }

    .ip{
        font-size: 3.9vw;
    }
}