body{
    background-color: #121212;
}

.Title{
    text-align: center;
    font-family: comfortaa;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
}