body{
    background-color: #121212;
    overflow-y: hidden;
}

.Title{
    text-align: center;
    font-family: comfortaa;
    color: white;
}

.Title2{
    text-align: center;
    font-family: comfortaa;
    color: white;
    font-style: italic;
}

.dev{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin-bottom: 0;
}

.underdev{
    text-decoration: underline;
}

.name{
    font-size: 15pt;
    font-style: italic;
}


