@font-face {
  font-family: 'Mont';
  src: url('Mont.otf');
}


html, body{
  background-size: 100%;
  background-color: #121212;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

.glow{
  background: none;
  width: 100%;
  height: 20px;
  background-color: transparent;
  box-shadow: 0 0 80px white;
  margin-top: -20px
}

.title{
  text-align: center;
  color: white;
  font-family: Mont;
  margin-top: 30px;
  font-size: 60pt;
  text-shadow: black 1px 1px;
  text-decoration: underline;
}

.infobox{
  width: 500px;
  height: 740px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80px;
  background-color: white;
  opacity: 0.8;
  margin-top: 5%;
  transition: all 0.6s ease;
  box-shadow: rgb(255, 255, 255) 0px 0px 150px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.infobox:hover{
  box-shadow: rgb(255, 255, 255) 0px 0px 50px;
}

.wave{
  height: 80px;
  width: 80px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 0%;
  margin-top: 10%;
}

.infotext{
  font-family: Mont;
  color: rgb(16, 16, 16);
  text-align: center;
  padding: 10px 0;
  font-size: 40pt;
}

.info{
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Quicksand', sans-serif;
  padding: 20px;
  font-size: 22px;
  word-wrap:break-word;
  margin-top: -5%;
  text-align: center;
}

.credit{
  text-align: center;
  font-family: Mont;
  margin-top: 11%;
  font-size: 15pt;
  color: white;
}


.home{
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.button{
  background-image: linear-gradient(45deg, black, gray);
  width: 300px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  border-radius: 10px;
  transition: all .2s ease;
}

.button:hover{
  margin-top: 23%;
}

.insta{
  width: 50px;
  height: 50px;
  padding: 10px 0;
  margin-left: 4%;
}

.instatext{
  position: relative;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
  margin-top: -20.5%;
  font-size: 24pt;
  left: 7%
}

a{
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 30pt; 
    margin-top: 10px;
    margin-bottom: 10%;
  }

  .infobox {
    width: 90%; 
    height: 500px; 
    margin-top: 10%;
    border-radius: 40px; 
  }

  .infotext {
    font-size: 20pt; 
  }

  .info {
    font-size: 16px; 
    padding: 10px;
  }

  .credit {
    margin-top: 20%; 
    font-size: 12pt; 
  }

  .button {
    width: 90%; 
    height: 50px; 
    margin-top: 10%;
  }

  .button:hover {
    margin-top: 12%;
  }

  .insta{
    height: 30px;
    width: 30px;
  }

  .instatext {
    font-size: 23pt; 
    margin-top: -16%; 
  }
}


