 html, body {
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #121212;
        }

      .text{
        font-family: Comfortaa;
        text-align: center;
        color: white;
      }

      .github{
        font-family: Comfortaa;
        text-align: center;
        color: white;
        margin-top: 30px;
      }

      .follow{
        font-family: Comfortaa;
        text-align: center;
        color: white;
        margin-top: 20px;
      }

      .textcert{
        font-family: Comfortaa;
        text-align: center;
        color: white;
        font-style: italic;
        margin-top: -10px;
      }

      .content{
        border-style: solid;
        border-color: white;
        border-radius: 20px;
        width: 400px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 250px;
        box-shadow: none;
        transition: box-shadow 0.21s ease;
      }

      .content:hover{
        box-shadow: white 5px 5px;
      }

      .insta{
        border-style: solid;
        border-color: white;
        border-radius: 15px;
        margin-left: 175px;
        margin-top: 10px;
      }

      .description{
        color: white;
        font-family: comfortaa;
        text-align: center;
        margin-top: 20px;
      }

      a{
        color: white;
      }
