@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont.otf');
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  

html, body{
    background-image: url(../content/shsbackground.png);
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover; 
    height: 100%; 
    overflow-x: hidden;
}

.headercontainer{
    max-width: 40%;
    width: fit-content;
    height: auto;
    background-color: rgb(210, 40, 40);
    border-bottom-right-radius: 20px;
    border-radius: 5px;
    box-shadow: rgb(255, 255, 255) 0 0  30px;
    margin-left:  auto;
    margin-right: auto;
    white-space: nowrap;
}

.infobox{
    background-color: rgb(210, 40, 40);
    width: 100%;
    height: 1000px;
    margin-top: 5%;
    border-radius: 20px;
    margin-left: 1%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: white;
    text-align: center;
    
}

.welcome{
    color: white;
    font-family: Mont;
    font-size: 39pt;
    margin-top: 0;
    padding: 20px;
    word-wrap: break-word;
}

.header{
    color: white;
    text-align: center;
    font-family: Mont;
    padding: 1%;
    font-size: 80px;
    word-wrap: break-word;
}

ul{
    font-family: Mont;
    color: white;
    font-size: 20pt;
    line-height: 450%;
    display: inline-block;
    text-align: left;
}

li{
    font-size: 50pt;
}

.clockcontain{
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -80px;
}

.clock{
    color: white;
    font-family: Mont;
    font-size: 40pt;
}

.day{
    text-decoration: underline;
}

.period{
    font-size: 40pt;
    text-decoration: underline;
}

.time{
    white-space: nowrap;
    transform: translateY(5px);
    text-decoration: underline ;
}

.bt{
    text-decoration: underline ;
}

.start{
    font-family: Mont;
    color: white;
    font-size: 70px;
    display: inline-block;
    text-decoration: underline;
}

.qr{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-width: 10px;
    box-shadow: white 0 0 20px;
}

.qrtxt{
    font-family: Mont;
    color: white;
    font-size: 30pt;
}

.code{
    float: right;
    display: block;
    width: 200px;
    height: 200px;
    transform: translateY(-250px);
    padding-right: 8%;
    
}

.credit{
    display: block;
    float: left;
    transform: translateY(-300px);
    padding-left: 2%;
    width: fit-content;
    height: 100px;
}

.txt{
    font-family: Mont;
    color: white;
    font-size: 24pt;
}

.dayover{
    font-size: 80pt;
}

@media screen and (max-device-width: 1920px){
    html, body{
        overflow-y: hidden;
    }
    
    li{
        line-height: 150%;
        transform: translateY(-150px);
        font-size: 60pt;
    }

    .period{
        font-size: 60pt;
    }
}


@media screen and (max-device-width: 480px) and (orientation:portrait) {
    .headercontainer{
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 20px;
        max-width: 60%;
        text-align: center;
        margin-top: 10%;
    }

    .clock{
        display: none;
    }

    .clockcontain{
        display: none;
    }

    .credit{
        padding: 0;
        height: 0;
    }

    .txt{
        opacity: 0;
    }

    .header{
        font-size: 40pt;
    }

    .infobox{
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        height: 40%;
    }

    .day {
        font-size: 15pt;
    }


    .period{
        font-size: 15pt;
    }

    .time{
        font-size: 15pt;
    }

    .bt{
        font-size: 15pt;
    }

    .welcome{
        font-size: 15pt;
    }

    .dayover{
        display: none;
    }

    .start{
        font-family: Mont;
        color: white;
        text-align: center;
        font-size: 15pt;
        margin-bottom: 30%;
    }

    ul{
        transform: translateY(-20%);
    }

    li{
        font-size: 20pt;
        line-height: 260%;
    }



    .qr{
        width: 0px;
        height: 0px;
        border-radius: 0px;
        border-color: transparent;
        box-shadow: transparent 0 0 0;
        opacity: 0;
    }

    .qrtxt{
        font-size: 0px;
    }

    .code{
        width: 0px;
        height: 0px;
    }

}

@media screen and (max-device-width: 412px) and (orientation:portrait) {
    .time{
        font-size: 17pt;
    }

    .txt{
        opacity: 0;
    }

    .credit{
        padding: 0%;
        height: 0;
    }

    .dayover{
        font-size: 25pt;
    }
}

@media screen and (max-device-width: 414px) and (orientation:portrait) {
    .time{
        font-size: 17pt;
    }

    .txt{
        opacity: 0;
    }

    .credit{
        padding: 0%;
        height: 0;
    }

    .dayover{
        font-size: 25pt;
    }
}

@media screen and (max-device-width: 360px) and (orientation:portrait) {

    .headercontainer{
        max-width: 82%;
    }

    .infobox{
        height: 580px;
    }

    li{
        font-size: 10pt;
        line-height: 20%;
    }
    .day {
        font-size: 10pt;
    }

    .period{
        font-size: 15pt;
    }

    .time{
        font-size: 13pt;
    }

    .bt{
        font-size: 15pt;
    }

    .welcome{
        font-size: 15pt;
    }

    .start{
        font-family: Mont;
        color: white;
        text-align: center;
        font-size: 15pt;
    }

    .txt{
        opacity: 0;
    }

    .credit{
        padding: 0%;
        height: 0;
    }

    .dayover{
        font-size: 25pt;
    }
}

@media screen and (max-device-width: 375px) and (orientation:portrait) {
    li{
        font-size: 15pt;
        line-height: 350%;
    }
    .infobox{
        height: 525px;
    }
    .day {
        font-size: 15pt;
    }

    .period{
        font-size: 15pt;
    }

    .time{
        font-size: 13pt;
    }

    .bt{
        font-size: 15pt;
    }

    .txt{
        opacity: 0;
    }

    .credit{
        padding: 0%;
        height: 0;
    }

    .dayover{
        font-size: 25pt;
    }
}

@media screen and (max-device-width: 280px) and (orientation:portrait){
    .bt{
        font-size: 15pt;
    }

    .header{
        font-size: 20pt;
    }

    li{
        line-height: 500%;
    }

    .dayover{
        font-size: 25pt;
    }
}
