@font-face {
  font-family: 'Mont';
  src: url('../fonts/Mont.otf');
}


html, body{
  background-image: url(../content/background-2.jpg);
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover; 
  height: 100%; 
  overflow-x: hidden; 
}

.content-area{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; 
  height: 100vh;
  text-align: center; 
  flex-direction: column;
}

.text{
  font-family: Mont;
  color: #FFFFFF;
  padding: 20% 0;
  font-size: 5vh;
}

.small{
  font-size: 3vh;
  font-family: Quicksand;
  display: inline;
}

#typing {
  display: inline;
  color: rgb(36, 239, 236); 
  font-weight: bold;
}

.typed-cursor {
  color: rgb(36, 239, 236); 
}

.social{
  width: 700px;
  height: 100px;
  position: absolute;
  transform: translateY(150%);
}

.insta{
  height: 50px;
  width: 50px;
  float: left;
}

.github{
  height: 60px;
  width: 60px;
  float: right;
  transform: translateY(-9%);
}

@media screen and (max-width: 768px) {

  .content-area {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    text-align: center; 
  }

  .social{
    width: 300px;
    height: 100px;
    position: absolute;
  }

  .text{
    padding: 50% 0; 
    font-size: 4vh; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis
  }

  #typing{
    color: rgb(36, 239, 236); 
  }

  html, body{
    background-size: cover; 
    height: 100%; 
    overflow-x: hidden; 
  }
}

a{
  color: #FFFFFF;
}
