
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    background: #121212;
    color: #E0E0E0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    justify-content: space-between; 
    align-items: center; 
    min-height: 100vh; 
    overflow-x: hidden; 
}


#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    padding: 40px;
    background-color: #262626;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

main {
    flex: 1 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}


#loginContainer input[type="text"], #loginContainer button {
    width: 100%;
    margin: 5px 0;
}


#loginContainer input[type="text"]:hover, #loginContainer button:hover {
    background-color: #333333;
}

input[type="text"], button {
    width: 90%;
    margin: 10px;
    padding: 8px;
}


header, footer {
    width: 100%;
    padding: 20px 0; 
    text-align: center;
    background: #1F1F1F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hidden-column {
    display: none;
}

.red-text {
    color: red;
}


h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #4CAF50;
}

.loginContainer{
    background-color: #1F1F1F;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.input-area, .time-log {
    width: 100%;
    max-width: 700px; 
    margin: 0 auto 20px;
    padding: 20px;
    background: #1F1F1F;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="text"], button {
    text-align: center;
    background: #121212;
    color: white;
    width: 95%;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-bottom: 10px; 
}

input#teacherName, input#periodNumber{
    display: block;
    text-align: center;
    background: #262626;
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    margin-right: -10px;
}

input[type="text"]:hover, input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #4CAF50;
}

button#checkOutButton{
    background-color: #4CAF50;
    border-radius: 20px;
    color: rgb(255, 251, 251);
    margin-bottom: 10px; 
    transition: all 0.3s ease;
    display: block;
    margin: auto;
}

button#submitInfoButton{
    background-color: #4CAF50;
    border-radius: 20px;
    color: rgb(255, 251, 251);
    margin-bottom: 10px; 
    transition: all 0.3s ease;
    display: block;
    margin: auto;
    width: 100%;
}

button#checkOutButton:hover {
    background-color: #4ec754;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(4px);
}

#sendDataButton {
    position: fixed;
    top: 40px;
    right: 90px;
    background-color: #4CAF50;
    border-radius: 20px;
    color: white;
    padding: 24px 20px;  /* Increased padding for a larger button */
    width: 200px;  /* Increased width for a larger appearance */
    z-index: 1000;
    display: block;
}

#sendDataButton:hover {
    background-color: #4ec754;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

button:hover {
    background-color: #388E3C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #2D2D2D;
}

th {
    background-color: #262626;
}

tbody tr:nth-child(odd) {
    background-color: #262626; 
}

tbody tr:nth-child(even) {
    background-color: #1F1F1F; 
}

.checkinButton{
    background-color: #aa2b11;
    color: white;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.checkinButton:hover{
    background-color: #892410;
    color: white;
    border-radius: 20px;
    transform: translateY(4px);
}

tbody tr:hover {
    background-color: #333;
}

footer {
    background: #1F1F1F;
    padding: 20px 0;
    font-size: 0.8rem;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-top: auto;
}

.input-container#period{
    background-color: red;
}

button#sendDataButton {
    background-color: #4CAF50;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    transition: all 0.3s ease;
    display: block;
    margin: 10px auto; 
}

button#sendDataButton:hover {
    background-color: #4ec754;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

#currentStudentsOut{
    font-size: 1.8em;
}
#totalStudentsCheckedOut{
    font-size: 1.6em;

}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;  
    backdrop-filter: blur(5px); 
    transition: opacity 0.5s ease-in-out; 
    opacity: 0; 
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db; 
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
    animation: spin 1s linear infinite;
    z-index: 3;  
    font-size: 3rem;
    color: green; 
    transition: opacity 0.9s ease-in-out; 
    opacity: 1; /* Start fully visible */
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}


@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}


@media (max-width: 768px) {
    .input-area, .time-log {
        max-width: 95%;
    }

    h1 {
        font-size: 1.8rem;
    }
}
